<br>
<div class="mb-3">
  <button mat-fab class="bg-danger" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>


<h1 class="welcome">Seleccione un módulo</h1>


    <section class="functions">
        <div class="container w-75">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card text-bg-danger text-center" type="button" routerLink="/home/actualizar_estado">
                <div class="card-body" >
                  <h5 class="card-title">Actualizar Estados Departamentos</h5>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card text-bg-danger text-center" type="button" routerLink="/home/inventario" >
                <div class="card-body"  >
                  <h5 class="card-title">Inventario</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/fechas_disponibles"> -->
                <div class="card text-bg-danger text-center" type="button" routerLink="/home/gestion_usuarios">
                <div class="card-body" >
                  <h5 class="card-title">Gestion de Usuarios</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

