<!-- FORM NUEVO LOGIN -->
<!DOCTYPE html>
<html lang="en">
<head>
  <base href="./">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión - Arriendate</title>  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mat-typography">
  <div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container" >
      <div class="row d-flex justify-content-center" > 
        <div class="col-12 col-md-8 col-lg-6">
          <mat-card >
            <br>
            <h1 class="text-center">Iniciar Sesión</h1>
            <form  [formGroup]="loginForm" class="login-form" >
              <p class="mb-3" fxLayoutAlign="center center">Por favor introduce tu usuario y contraseña</p>
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Ingresa tu RUT sin DV</mat-label>
                <input type="number" id="rut" formControlName="rut" matInput placeholder="11111111" required>
              </mat-form-field>
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Ingresa tu contraseña</mat-label>
                <input matInput id="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="text-center">
                <p class="small"><a style="color:white;" href="">¿Olvidaste tu contraseña?</a></p>
              </div>
              <div class="mb-3">
                <button mat-raised-button color="primary" type="submit" id="login" (click)="onSubmit()">Ingresar</button>

              </div>
              <div>
                <p class="mb-0 text-center">¿Aún no tienes cuenta? Contactate con area de Soporte</p>
              </div>
            </form>
          </mat-card>
          <div>
            <label id="error-message"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
