//body/form
.main-div mat-card {
  padding: 0px;
}

.login-form {
  padding: 20px;
}

body {
  background-image: url('../login/img/back.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
