table, mat-paginator {
    width: 90%;
}

th{
    width: 20%;
}

.pointer{
    cursor: pointer;
}

.data_table {
    width: 80%;
    margin: 20px auto;
}


.mat-cell, .mat-header-cell {
    text-align: center;
}
 mat-paginator{
    background-color:transparent!important; 
 }

 
.welcome{
    h4 {
      text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .atras{
      text-align: left;
        font-weight: lighter;
        letter-spacing: 1px;
        color: white;
    }
    p{
      color: white;
      font-weight: lighter;
    }
  
  }
