<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="container p-3">
        <button mat-button style="color:white" aria-label="" (click)="goBack()">
          <mat-icon>keyboard_arrow_left</mat-icon> Atrás
        </button>
      </div>
    </div>
    <div class="col-10">
      <div class="container">
        <form class="mb-3 mt-md-4 w-75" [formGroup]="reserveForm"  *ngIf="sucursales" >
          <div class="container mb-3 welcome">
            <h4>Realizar Reserva</h4>
            <p>Ingrese los siguientes datos</p>
          </div>
            <div class="row">
              <div class="col-md-6 text-center">
                <mat-form-field appearance="fill" color="accent" >
                  <mat-label>Rut Títular</mat-label>
                  <input matInput placeholder="XX.XXX.XXX-X" formControlName="ID_CLI" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button mat-raised-button id="secundary" [disabled]="!reserveForm.controls['ID_CLI'].value" (click)="searchClient()"  >Buscar Cliente</button>
                
              </div>
            </div>


            <ng-container *ngIf="resultadoBusqueda == 'No hay registros' then addClientForm"></ng-container>
            <ng-container *ngIf="resultadoBusqueda != 'No hay registros' then ClientForm"></ng-container>
            <!--Formulario agregar Cliente-->
            <ng-template #addClientForm>
              <h5 class="text-center">Cliente no encontrado, ingrese los siguientes datos</h5>
              <form action="" [formGroup]="createClientForm">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary" >
                      <mat-label>Rut Cliente</mat-label>
                      <input matInput placeholder="XX.XXX.XXX-X" formControlName="RUT_CLI" id="rut_cli" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary" >
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="John" formControlName="FIRST_NAME" id="first_name" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary" >
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Doe" formControlName="LAST_NAME" id="last_name" required>
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary">
                      <mat-label>Fecha de Nacimiento</mat-label>
                      <input formControlName="BIRTHDAY" matInput [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary" >
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="EMAIL" id="email"  required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="primary" >
                      <mat-label>Celular</mat-label>
                      <input matInput formControlName="TELEFONO" id="telefono"  required>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row mb-3">
                  <div class="col-md-12 text-center">
                    <button mat-raised-button color="primary" (click)="addClient()" [disabled]="!createClientForm.valid" >Agregar Cliente</button>
                  </div>
                  
                </div>
              </form>
              
            </ng-template>
            <!--Formulario ver datos Cliente encontrado-->
            <ng-template #ClientForm>
              <div class="mb-3">
                <form action="" *ngIf="resultadoBusqueda" >
                  <div class="row" > 
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Nombre</mat-label>
                        <input matInput id="FIRST_NAME" name="FIRST_NAME" [(ngModel)]="resultadoBusqueda.FIRST_NAME"  readonly>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Apellido</mat-label>
                        <input matInput id="LAST_NAME" name="LAST_NAME" [(ngModel)]="resultadoBusqueda.LAST_NAME"  readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Celular</mat-label>
                        <input matInput id="TELEFONO" name="TELEFONO"  [(ngModel)]="resultadoBusqueda.TELEFONO"  readonly>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Email</mat-label>
                        <input matInput id="EMAIL" name="EMAIL" [(ngModel)]="resultadoBusqueda.EMAIL" readonly>
                      </mat-form-field>
                    </div>
                  </div>
  
                </form>
              </div>
            </ng-template>

            
            <!--Detalles de la Reserva-->
            <div  >
              <div class="row mb-3" >
                <div class="col-md-6" >
                  <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Ubicacion</mat-label>
                    <input matInput  value="{{id_sucursal}}" name="ID_SUC" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-6" >
                  <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Nombre Depto</mat-label>
                    <input matInput value="{{id_departamento}}" name="ID_DEPTO" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  
                  <mat-form-field appearance="fill" color="accent"  >
                    <mat-label>Seleccione la fecha de inicio y término de su estadía</mat-label>
                    <mat-date-range-input [rangePicker]="picker" >
                      <input matStartDate formControlName="FEC_DESDE" [min]="ultima_reserva" placeholder="Desde">
                      <input matEndDate formControlName="FEC_HASTA"  placeholder="Hasta">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                  </mat-form-field>
                  
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Cantidad máxima de personas</mat-label>
                    <input matInput [(ngModel)]="total_personas"  name="TOTAL_PERSONAS" [ngModelOptions]="{standalone: true}" readonly="">
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <section class="example-section" [formGroup]="serviceForm" >
                    <label class="mb-3" for="" id="label-float">Servicios Extras</label>
                    <p><mat-checkbox style="color:white" (change)="deptoSeleccionado()" formControlName="transporte">Transporte $10.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" (change)="deptoSeleccionado()" formControlName="bufet">Bufet  $10.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" (change)="deptoSeleccionado()" formControlName="tour">Tour  $20.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" (change)="deptoSeleccionado()" formControlName="desayuno">Desayuno  $5.000</mat-checkbox></p>
                  </section>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="mb-3">
                    <button mat-raised-button id="secundary" (click)="totalReserva()">
                      <mat-icon>autorenew</mat-icon> Refrescar totales </button>

                  </div>
                  <mat-form-field appearance="fill" color="primary" floatLabel="always">
                    <mat-label>Monto Servicios</mat-label>
                    <input matInput type="number" [(ngModel)]="monto_servicios" formControlName="MONTO_SERVICIOS" class="example-right-align" placeholder="0" value="0">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill" color="primary" floatLabel="always">
                    <mat-label>Total</mat-label>
                    <input matInput type="number" [(ngModel)]="total" (change)="deptoSeleccionado()" formControlName="TOTAL_RESERVA" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                   
                  </mat-form-field>
                  <p style="color:gray; font-size:smaller;">Este valor corresponde al total por la cantidad de días de reserva y los servicios extras</p>
                  <mat-form-field appearance="fill" color="primary" floatLabel="always">
                    <mat-label>Monto Abono</mat-label>
                    <input matInput type="number" [(ngModel)]="monto_abono" formControlName="MONTO_ABONADO" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                
                  
                </div>
              </div>
            </div>
            
            <div class="text-center p-3">
            <button mat-raised-button id="secundary" (click)="onSubmit()" >Generar Reserva</button>
            </div>
        </form>

        
    </div>
    </div>
  </div>
</div>

    
</body>
