<body>
  <br>
<div class="mb-3">
  <button mat-fab color="accent" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>


<h2 class="welcome text-center">Realizar Reserva</h2>
    <div class="container w-75">
        <form class="mb-3 mt-md-4" [formGroup]="reserveForm"  *ngIf="sucursales" >
            <h5 class="mb-3 text-uppercase text-center">Ingrese los siguientes datos</h5>
            <div class="row">
              <div class="col-md-6 text-center">
                <mat-form-field appearance="fill" color="accent" >
                  <mat-label>Rut Títular</mat-label>
                  <input matInput placeholder="XX.XXX.XXX-X" formControlName="ID_CLI" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" [disabled]="!reserveForm.controls['ID_CLI'].value" (click)="searchClient()"  >Buscar Cliente</button>
                
              </div>
            </div>


            <ng-container *ngIf="resultadoBusqueda == 'No hay registros' then addClientForm"></ng-container>
            <ng-container *ngIf="resultadoBusqueda != 'No hay registros' then ClientForm"></ng-container>
            <!--Formulario agregar Cliente-->
            <ng-template #addClientForm>
              <h5 class="text-center">Cliente no encontrado, ingrese los siguientes datos</h5>
              <form action="" [formGroup]="createClientForm">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Rut Cliente</mat-label>
                      <input matInput placeholder="XX.XXX.XXX-X" formControlName="RUT_CLI" id="rut_cli" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="John" formControlName="FIRST_NAME" id="first_name" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Doe" formControlName="LAST_NAME" id="last_name" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Celular</mat-label>
                      <input matInput formControlName="TELEFONO" id="telefono"  required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Fecha de Nacimiento</mat-label>
                      <input formControlName="BIRTHDAY" matInput [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="EMAIL" id="email"  required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill" color="accent" >
                      <mat-label>Password</mat-label>
                      <input type="password" matInput formControlName="PASSWORD" id="password"  required>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-12">
                    <button mat-raised-button color="accent" (click)="addClient()" [disabled]="!createClientForm.valid" >Agregar Cliente</button>
                  </div>
                  
                </div>
              </form>
              
            </ng-template>
            <!--Formulario ver datos Cliente encontrado-->
            <ng-template #ClientForm>
              <div class="mb-3">
                <form action="" *ngIf="resultadoBusqueda" >
                  <div class="row" > 
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Nombre</mat-label>
                        <input matInput id="FIRST_NAME" name="FIRST_NAME" [(ngModel)]="resultadoBusqueda.FIRST_NAME"  readonly>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Apellido</mat-label>
                        <input matInput id="LAST_NAME" name="LAST_NAME" [(ngModel)]="resultadoBusqueda.LAST_NAME"  readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Celular</mat-label>
                        <input matInput id="TELEFONO" name="TELEFONO"  [(ngModel)]="resultadoBusqueda.TELEFONO"  readonly>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" color="accent" >
                        <mat-label>Email</mat-label>
                        <input matInput id="EMAIL" name="EMAIL" [(ngModel)]="resultadoBusqueda.EMAIL" readonly>
                      </mat-form-field>
                    </div>
                  </div>
  
                </form>
              </div>
            </ng-template>

            
            <!--Detalles de la Reserva-->
            <div *ngIf="deptos_detalle">
              <div class="row mb-3" >
                <div class="col-md-6" >
                  <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Seleccione la fecha de inicio y término de su estadía</mat-label>
                    <mat-date-range-input [rangePicker]="picker" >
                      <input matStartDate formControlName="FEC_DESDE" (change)="deptoSeleccionado()" [min]="ultima_reserva" placeholder="Desde">
                      <input matEndDate formControlName="FEC_HASTA" placeholder="Hasta">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                  </mat-form-field>
                  
                  
                </div>
                <div class="col-md-6" >
                  <mat-form-field appearance="fill" color="accent">
                    <mat-label>Seleccione Ciudad</mat-label>
                    <mat-select [(ngModel)]="sucursales.ID_SUC" id="id_sucursal" formControlName="ID_SUC" name="ID_SUC">
                      <mat-option  *ngFor="let item of sucursales" [value]="item.ID_SUC" >{{item.CIUDAD}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <mat-form-field appearance="fill" color="accent">
                    <mat-label>Seleccione Departamento</mat-label>
                    <mat-select [(ngModel)]="deptos_detalle.SUCURSAL_ID_SUC"  formControlName="ID_DEPTO" name="ID_DEPTO">
                      <mat-option  *ngFor="let item of deptos_detalle" [hidden]='!(sucursales.ID_SUC == item.SUCURSAL_ID_SUC)' [value]="item.ID_DEPTO" (click)="deptoSeleccionado()" >{{item.NOMBRE}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Cantidad máxima de personas</mat-label>
                    <input matInput [(ngModel)]="total_personas" name="TOTAL_PERSONAS" [ngModelOptions]="{standalone: true}" readonly="">
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3">
                  <section class="example-section" [formGroup]="serviceForm">
                    <label class="mb-3" for="" id="label-float">Servicios Extras</label>
                    <p><mat-checkbox style="color:white" formControlName="transporte">Transporte $10.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" formControlName="bufet">Bufet  $10.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" formControlName="tour">Tour  $20.000</mat-checkbox></p>
                    <p><mat-checkbox style="color:white" formControlName="desayuno">Desayuno  $5.000</mat-checkbox></p>
                  </section>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" color="accent" floatLabel="always">
                    <mat-label>Total</mat-label>
                    <input matInput type="number" [(ngModel)]="total" (change)="deptoSeleccionado()" formControlName="TOTAL_RESERVA" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill" color="accent" floatLabel="always">
                    <mat-label>Monto Abono</mat-label>
                    <input matInput type="number" [(ngModel)]="monto_abono" formControlName="MONTO_ABONADO" class="example-right-align" placeholder="0">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill" color="accent" floatLabel="always">
                    <mat-label>Monto Servicios</mat-label>
                    <input matInput type="number" [(ngModel)]="monto_servicios" formControlName="MONTO_SERVICIOS" class="example-right-align" placeholder="0" value="0">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                
                  
                </div>
              </div>
            </div>
            
            <div class="text-center p-3">
            <button mat-raised-button color="accent" (click)="onSubmit()" >Generar Reserva</button>
            </div>
        </form>

        
    </div>
</body>
