<br>
<div class="p-3">
  <button mat-fab id="warning" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for="" style="color:white ;"> &nbsp; Atrás</label>
</div>

<h4 class="welcome">Seleccione un módulo</h4>


    <section class="functions">
        <div class="container w-100">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card text-center" id="warning" type="button" routerLink="/home/reporteria">
                <div class="card-body" >
                  <h5 class="card-title">Reportería General</h5>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card text-center"  id="warning" type="button" routerLink="/home/gestion_transporte" >
                <div class="card-body"  >
                  <h5 class="card-title">Gestión de Transporte</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/fechas_disponibles"> -->
                <div class="card text-center"  id="warning" type="button" routerLink="/home/mantencion">
                <div class="card-body" >
                  <h5 class="card-title">Mantención a Departamentos</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

