
.container-graph  {
  position: inherit;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  border-radius: 10px;
  .content{
      width: 100%;
      padding: 3px;
      h1{
          font-size: 14px;
      }
      p{
          font-size: 14px;
          margin-bottom: 0;
          color: #909497;
      }
      h2{
          font-size: 15px;
          color: #424949 ;
      }
      
  }
  .content-img{
      padding-top: 40px;
      padding-right: 10px;
      
  }
 
}

.graphs{
  width: 100%;
  border-radius: 10px;
}

.container-graph-circle  {
  position: inherit;
  height: fit-content;
  width: fit-content;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #33365A ;
  .content{
      width: fit-content;
      padding: 10px;
      h1{
          font-size: 12px;
      }
      p{
          font-size: 15px;
          margin-bottom: 0;
          color: #909497;
      }
      h2{
          font-size: 20px;
          color: #424949 ;
      }
      
  }
  .content-img{
      padding:10px;
      display: flex;
      justify-content: center;
      
      img{
          
          width: 80%;
      }
  }
}

.container-table  {
  width: 100%;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #33365A ;
  h1{
      padding-left: 40px;
      padding-top: 10px;
      font-size: 20px;
  }
}

table {
  width: 100%;
}

.data_table {
  width: 100%;
  margin: 20px auto;
}

.mat-table
{
background-color:transparent!important;  
}

.mat-cell, .mat-header-cell {
  color:black;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: none;
  border-radius: 10px;
  
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.pointer{
  cursor: pointer;
}

th.mat-sort-header{
  text-align: center;
}


.mat-cell, .mat-header-cell {
  text-align: center;
}
mat-paginator{
  background-color:transparent!important; 
}


/*No display tables reporteria*/

.pagos-table{
  display: none;
}  

