.card{
  height: 200px;
  border-radius: 50px;
  .card-body{
    letter-spacing: 1px;
   display: grid;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   .card-title{
     font-weight: bold;
   }
  }
  
 }

.welcome{
  h4 {
    text-align: left;
    font-weight: lighter;
    padding-top: 20px;
    letter-spacing: 1px;
  }
  .atras{
    text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
      color: white;
  }
  p{
    color: white;
    font-weight: lighter;
  }

}

  
  .card-title{
    text-align: center;
  }
  
  .card:hover{
    transform: scale(1.01); 
    transition: transform .5s; 
  }

.functions{
  padding-top: 20px;
}

.breadcrumb{
  padding-left: 10px;
}
