
<br>
<div class="mb-3">
  <button mat-fab color="accent" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>


<h1>Seleccione un módulo</h1>


    <section class="functions">
        <div class="container w-75">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/check">
                <div class="card-body" >
                  <h5 class="card-title">Check in - Check out</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/realizar_reserva" >
                <div class="card-body"  >
                  <h5 class="card-title">Realizar Reserva</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/cancel">
                
                <div class="card-body" >
                  <h5 class="card-title">Cancelar Reserva</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center" style="background-color: #69f0ae; color:black;" type="button" routerLink="/home/pay">
                
                <div class="card-body" >
                  <h5 class="card-title">Pago Online</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>