<br>
<div class="mb-3">
  <button mat-fab color="accent" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>


<h2 class=" text-uppercase text-center">Realizar Reserva</h2>
    <div class="container w-75">
        <form class="mb-3 mt-md-4" [formGroup]="reserveForm" *ngIf="sucursales" >
            <h5 class="fw-bold mb-3 text-uppercase text-center">Ingrese los siguientes datos</h5>
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" [(ngModel)]="id_cli" formControlName="id_cli" id="id_cli" placeholder="XXXXXXX-X">
                  <label for="id_cli">Rut Titular</label>
                </div>
              </div>
              <div class="col-md-6">
                
                <button type="submit" class="btn btn-primary mb-3" [disabled]="!reserveForm.controls['id_cli'].value" (click)="searchClient()" >Buscar Cliente</button>
              </div>
            </div>


            <ng-container *ngIf="resultadoBusqueda == 'No hay registros' then addClientForm"></ng-container>
            <ng-container *ngIf="resultadoBusqueda != 'No hay registros' then ClientForm"></ng-container>
            <!--Formulario agregar Cliente-->
            <ng-template #addClientForm>
              <h5 class="text-center">Cliente no encontrado, ingrese los siguientes datos</h5>
              <form action="" [formGroup]="createClientForm">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control"  formControlName="RUT_CLI" id="rut_cli" placeholder="XXXXXXX-X">
                      <label for="rut_cli">Rut Cliente</label>
                      
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="FIRST_NAME" id="first_name" placeholder="John">
                      <label for="first_name">Nombre</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="LAST_NAME" id="last_name" placeholder="Doe">
                      <label for="last_name">Apellido</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="TELEFONO" id="telefono" placeholder="9XXXXXXXX">
                      <label for="telefono">Celular</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-input mb-3">
                      <label for="birthday">Fecha de Nacimiento </label>
                      <input class="form-control" formControlName="BIRTHDAY" type="date" id="birthday" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" formControlName="EMAIL" id="email" placeholder="alguien@mail.com">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" formControlName="PASSWORD" id="password" placeholder="XXXXXXX">
                      <label for="password">Password</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary mb-3" (click)="addClient()" [disabled]="!createClientForm.valid" >Agregar Cliente</button>
                  </div>
                  
                </div>
              </form>
              
            </ng-template>
            <!--Formulario ver datos Cliente encontrado-->
            <ng-template #ClientForm>
              <div class="mb-3">
                <form action="" *ngIf="resultadoBusqueda" >
                  <div class="row" > 
                    <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control"  id="FIRST_NAME" name="FIRST_NAME" [(ngModel)]="resultadoBusqueda.FIRST_NAME"  readonly>
                        <label for="FIRST_NAME">Nombre</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control"  id="LAST_NAME" name="LAST_NAME" [(ngModel)]="resultadoBusqueda.LAST_NAME"  readonly>
                        <label for="LAST_NAME">Apellido</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="TELEFONO" name="TELEFONO"  [(ngModel)]="resultadoBusqueda.TELEFONO" >
                        <label for="TELEFONO">Celular</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="EMAIL" name="EMAIL" [(ngModel)]="resultadoBusqueda.EMAIL">
                        <label for="EMAIL">Email</label>
                      </div>
                    </div>
                  </div>
  
                </form>
              </div>
            </ng-template>

            
            <!--Detalles de la Reserva-->
            <div *ngIf="deptos_detalle">
              <div class="row" >
                <div class="col-md-6" >
                  <div class="form-floating mb-3">
                    <select class="form-select" [(ngModel)]="sucursales.ID_SUC" id="id_sucursal" formControlName="id_suc" name="id_suc" aria-label="Floating label select example">
                      <option [ngValue]="item.ID_SUC"  *ngFor="let item of sucursales">{{item.CIUDAD}}</option>
                    </select>
                    <label for="id_sucursal">Seleccione Ciudad</label>
                </div>
                </div>
                <div class="col-md-6" >
                  <div class="form-floating mb-3">
                    <select class="form-select" id="id_depto" [(ngModel)]="deptos_detalle.SUCURSAL_ID_SUC"  formControlName="id_depto" name="id_depto" aria-label="Floating label select example">
                      <option *ngFor="let item of deptos_detalle" [hidden]='!(sucursales.ID_SUC == item.SUCURSAL_ID_SUC)'  [ngValue]="item.ID_DEPTO" >{{item.NOMBRE}}</option>
                    </select>
                    <label for="id_depto ">Seleccione Departamento</label>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="fec_desde">Fecha desde: </label>
                  <input class="form-control" formControlName="fec_desde" type="date" id="fec_desde" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="fec_hasta">Fecha hasta: </label>
                  <input id="fec_hasta" class="form-control" formControlName="fec_hasta" type="date" required>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">Incluye mascotas</label>
                  <div class="form-check" >
                    <input class="form-check-input" formControlName="mascotas" type="radio" value="Si" name="mascotas" id="mascotas1">
                    <label class="form-check-label" for="mascotas1">Si</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" formControlName="mascotas" type="radio" value="No" name="mascotas" id="mascotas2" checked>
                    <label class="form-check-label" for="mascotas2">No</label>
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="form-floating mb-3">
                    <input [(ngModel)]="deptos_detalle.SUCURSAL_ID_SUC" name="TOTAL_PERSONAS" [ngModelOptions]="{standalone: true}" class="form-control"  id="cant_personas" readonly>
                    <label for="cant_personas">Capacidad máxima de personas:  </label>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="">Servicios Extras</label>
                  <div *ngFor="let item of servicios" class="col-md-6 ">
                    <label >
                      <input type="checkbox" [value]="item.ID_SERV" (change)='servicioChecked = item.VALOR_SERVICIO'>
                      <span> &nbsp; {{item.NOM_SERV}} ${{item.VALOR_SERVICIO}} </span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                    <span class="input-group-text">TOTAL $</span>
                    <input type="number" class="form-control" formControlName="total_reserva" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text"></span>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Monto a abonar $</span>
                      <input type="number" class="form-control" formControlName="monto_abonado" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text"></span>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Monto Servicios $</span>
                      <input type="number" class="form-control" formControlName="monto_servicios" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text"></span>
                    </div>
                </div>
                
              </div>
            </div>
            
            <div class="text-center p-3">
            <button type="submit" class="btn btn-primary mb-3" (click)="transformData()" >Generar Reserva</button>
            </div>
        </form>

        
    </div>