body{
    h5{
        color: white;
    }
}
#label-float{
    color: white;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
    color: white;
  }

mat-form-field{
    width: 100%;
    input {
        color: white;
    }
    
}

button{
    mat-raised-button{
        font-weight: bold;
    }
}

.welcome{
    h4 {
      text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .atras{
      text-align: left;
        font-weight: lighter;
        letter-spacing: 1px;
        color: white;
    }
    p{
      color: white;
      font-weight: lighter;
    }
  
  }