<br>
<div class="mb-3">
  <button mat-fab color="accent" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>


<h2 class=" text-uppercase text-center">Realizar Reserva</h2>
    <div class="container w-75">
        <form class="mb-3 mt-md-4" id="realizarReserva">
            <h5 class="fw-bold mb-3 text-uppercase text-center">Ingrese los siguientes datos</h5>

            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-2">
                  <input type="email" readonly class="form-control-plaintext" id="id_arriendo" placeholder="123" value="123">
                  <label for="id_arriendo">ID Reserva</label>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="rut" class="form-control" id="rut_cli" placeholder="XXXXXXX-X">
                  <label for="rut_cli">Rut Titular</label>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <select class="form-select" id="id_sucursal" aria-label="Floating label select example">
                    <option selected>Santiago</option>
                    <option value="1">Valparaiso</option>
                    <option value="2">Rancagua</option>
                    <option value="3">Talca</option>
                  </select>
                  <label for="id_sucursal">Seleccione Ciudad</label>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <select class="form-select" id="id_depto" aria-label="Floating label select example">
                    <option selected>Dep. 12 - Santiago</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="id_depto">Seleccione Departamento</label>
              </div>
              </div>
            </div>
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Incluye mascotas</label>
                <div class="form-check ">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="mascotas">
                  <label class="form-check-label" for="mascotas">
                    Si
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="floatingInput" placeholder="XXXXXXX-X">
                  <label for="floatingInput">Cantidad de Personas</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Servicios Extras</label>
                <div class="form-check ">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                  <label class="form-check-label" for="flexCheckDefault">
                    Bus de acercamiento
                  </label>
                </div>
                <div class="form-check ">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                  <label class="form-check-label" for="flexCheckChecked">
                  Comidas incluidas
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                  <label class="form-check-label" for="flexCheckChecked">
                  Tour STGO
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="input-group mb-3">
                  <span class="input-group-text">TOTAL $</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <span class="input-group-text"></span>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Monto a abonar $</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text"></span>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Monto pendiente $</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text"></span>
                  </div>
              </div>
              
            </div>
            <div class="text-center p-3">
            <button type="submit" class="btn btn-primary mb-3">Generar Reserva</button>
            </div>
        </form>
    </div>