.img {
    background-image: url(../arriendos-vigentes/img2/travel.jpg);
}
table, mat-paginator{
    width: 90%;
}
th{
    width: 20%;
}

th.mat-header-cell{
    text-align:center;
}   

.mat-column-ID_RESERVA{
    width: auto;
}

mat-form-field{
    width: 100%;
    input {
        color: white;
    }
}

.welcome{
    h4 {
      text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .atras{
      text-align: left;
        font-weight: lighter;
        letter-spacing: 1px;
        color: white;
    }
    p{
      color: white;
      font-weight: lighter;
    }
  
  }