<br>
<div class="mb-3">
  <button mat-fab class="bg-primary" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>

<body>
  <!-- Titulo con espacios  -->
  <br>
  <h2 class="welcome text-center">Ver Reservas</h2>
  <br>
  <!-- Cards  -->
    <div class="container" >
      <div class="row g-3">
        <div class="col-4" *ngFor="let data2 of vigentes_arriendos" >
          <div class="card">
            <img src="travel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b class="fw-bold">Check In:</b> {{data2.CHECK_IN | date: 'dd/MM/yyyy'}}</h5>
              <h5 class="card-title"><b class="fw-bold">Status:</b> {{data2.ESTADO}}</h5>
              <!-- <p class="card-text">Total arriendo: {{data2.TOTAL_ARRIENDO}}</p> -->
              <button class="bg-primary" mat-raised-button (click)="openDialog()">Más detalles</button>
            </div>    
          </div>
        </div>
      </div>
    </div>
</body>

