<br>
<div class="p-3">
  <button mat-fab id="secundary" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for="" style="color:white ;"> &nbsp; Atrás</label>
</div>


<body>
  <!-- Titulo con espacios  -->
  <br>
  <h2 class="welcome text-center">Ver Reservas</h2>
  <br>
  <!-- Comienzo del div-->
  <div class="container w-75 data_table">
    <mat-form-field color="accent">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="filtrar($event)">
    </mat-form-field>
    <hr>
    
    <!-- DataGrid -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center" matSort>

         <!-- Columns -->
        <ng-container matColumnDef="ID_RESERVA" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header > ID Reserva </th>
            <td mat-cell *matCellDef="let row" > {{row.ID_RESERVA}} </td>
        </ng-container>

        <ng-container matColumnDef="FEC_RESERVA">
            <th mat-header-cell *matHeaderCellDef> Fecha Reserva </th>
            <td mat-cell *matCellDef="let row"> {{row.FEC_RESERVA | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="ID_DEPTO">
            <th mat-header-cell *matHeaderCellDef> ID_DEPTO</th>
            <td mat-cell *matCellDef="let row"> {{row.ID_DEPTO}} </td>
        </ng-container>

        <ng-container matColumnDef="DESDE">
            <th mat-header-cell *matHeaderCellDef> Desde</th>
            <td mat-cell *matCellDef="let row"> {{row.DESDE | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="HASTA">
            <th mat-header-cell *matHeaderCellDef> Hasta</th>
            <td mat-cell *matCellDef="let row"> {{row.HASTA | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="MONTO_TOTAL">
            <th mat-header-cell *matHeaderCellDef>  Total Reserva</th>
            <td mat-cell *matCellDef="let row"> {{row.TOTAL_ARRIENDO | currency:'CLP':'$':'4.0'}} </td>
        </ng-container>

        <!-- Columns/Acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <div class="row">
                    <div class="col-md-4">
                        <a class="pointer" type="button" (click)="openDialog(row.ID_RESERVA)" style="color:#7573FF" matTooltip="Ver Detalle">
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </div>
                    <!-- 
                    <div class="col-md-4">
                        <a class="pointer" type="button" style="color:#67A4FF" matTooltip="Modificar">
                            <mat-icon>edit</mat-icon>
                          </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a class="pointer" type="button" style="color:#FF5474" matTooltip="Eliminar">
                            <mat-icon>delete</mat-icon>
                          </a>
                    </div>
                    -->
                </div>        
            </td>           
        </ng-container>

        <!-- Show Table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="21" [pageSizeOptions]="[7]" aria-label="Select page">
    </mat-paginator>
</div>
</body>

