<<<<<<< HEAD
.img {
    background-image: url(../arriendos-vigentes/img2/travel.jpg);
}

.data_table {
    width: 80%;
    margin: 20px auto;
}
th{
    width: 20%;
}

th.mat-header-cell{
    text-align:center;
}   

.mat-column-ID_RESERVA{
    width: auto;
}

mat-form-field{
    width: 100%;
    input {
        color: white;
    }
=======
.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
>>>>>>> 07211169ad7e3a7d49b709dfe2f9af33974313aa
}