<h1 mat-dialog-title style="font-weight:bold" *ngFor="let data of detalle_arriendos">Reserva {{data.ID_RESERVA}}</h1>
<div mat-dialog-content class="mat-typography"  *ngFor="let data of detalle_arriendos" >
    <div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="fw-bold">Fecha de Reserva: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.FEC_RESERVA}}</h3>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Id Depto: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.ID_DEPTO}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="fw-bold">Id Cliente: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.ID_CLI}}</h3>
            </div>
            <div class="col-md-3" >
                <h3 class="fw-bold">Fecha desde: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.DESDE}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="fw-bold">Fecha hasta:</h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.HASTA}}</h3>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Check in:  </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.CHECK_IN}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="fw-bold">Check out: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.CHECK_OUT}}</h3>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Total Reserva: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.TOTAL_ARRIENDO | currency:'CLP':'$':'4.0'}}</h3>
            </div>
            
        </div>
        <div class="row">
            
            <div class="col-md-3">
                <h3 class="fw-bold">Monto Abonado: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.MONTO_ABONADO | currency:'CLP':'$':'4.0'}}</h3>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Estado Reserva: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.ESTADO}}</h3>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions [align]="'end'">
    <button id="secundary" mat-button  mat-dialog-close>Cerrar</button>
</div>
  
