<h1 mat-dialog-title style="font-weight:bold">Añadir Departamento</h1>
<div mat-dialog-content class="mat-typography"  >
    <div class="container">
        <form action="" [formGroup]="addForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" color="primary" >
                        <mat-label>Nombre Depto</mat-label>
                        <input matInput formControlName="NOMBRE" id="NOMBRE" required>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" color="primary" >
                        <mat-label>Ubicación</mat-label>
                        <input matInput formControlName="UBICACION" id="UBICACION" required>
                      </mat-form-field>
                </div>
            </div>
            <mat-form-field class="example-full-width" appearance="fill" color="primary">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="DESCRIPCION"></textarea>
            </mat-form-field>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" color="primary" >
                        <mat-label>Valor día</mat-label>
                        <input matInput formControlName="VALOR_DIA" id="VALOR_DIA"  required>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" color="primary" >
                        <mat-label>Capacidad personas</mat-label>
                        <input matInput formControlName="TOTAL_PERSONAS" id="TOTAL_PERSONAS"  required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label id="example-radio-group-label">Estacionamiento</label>
                    <mat-radio-group formControlName="ESTACIONAMIENTO"
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let data of estacionamiento" [value]="data">
                        {{data}}
                    </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-6">
                    <label id="example-radio-group-label">Mascotas</label>
                    <mat-radio-group formControlName="MASCOTAS"
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button  class="example-radio-button" *ngFor="let data of mascotas" [value]="data">
                        {{data}}
                    </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Sucursal</mat-label>
                        <mat-select formControlName="SUCURSAL_ID_SUC">
                          <mat-option *ngFor="let item of sucursales" [value]="item.ID_SUC">
                            {{item.NOM_SUC}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="ESTADO_DEPTO">
                          <mat-option value="DISPONIBLE">
                            Disponible
                          </mat-option>
                          <mat-option value="INHABILITADO">
                            Inhabilitado
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
              
            <label for="img"> &nbsp;Adjunte foto 1</label>
            <input class="form-control" [src]="img" accept="image/png,image/jpeg" type="file" id="img"
            name="img" (change)="onFileSelected($any($event.target).files)" 
            data-validation-error-msg="Elija una imagen con formato JPG." data-validation-max-size="1M" data-validation="required"/> 
            

            <label for="img"> &nbsp;Adjunte foto 2</label>
            <input class="form-control" [src]="img" accept="image/png,image/jpeg" type="file" id="img"
            name="img" (change)="onFileSelected($any($event.target).files)" 
            data-validation-error-msg="Elija una imagen con formato JPG." data-validation-max-size="1M" data-validation="required"/> 
            

            <label for="img"> &nbsp;Adjunte foto 3</label>
            <input class="form-control" [src]="img" accept="image/png,image/jpeg" type="file" id="img"
            name="img" (change)="onFileSelected($any($event.target).files)" 
            data-validation-error-msg="Elija una imagen con formato JPG." data-validation-max-size="1M" data-validation="required"/> 
            

            <label for="img"> &nbsp;Adjunte foto 4</label>
            <input class="form-control" [src]="img" accept="image/png,image/jpeg" type="file" id="img"
            name="img" (change)="onFileSelected($any($event.target).files)" 
            data-validation-error-msg="Elija una imagen con formato JPG." data-validation-max-size="1M" data-validation="required"/> 
            <small style="font-size:0.8em">Tamaño máximo permitido 1MB </small>
            
          </form>
    </div>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button color="primary" (click)="onSubmit()" >Añadir</button>
    <button mat-button  mat-dialog-close>Cerrar</button>
</div>