<h1 mat-dialog-title style="font-weight:bold" *ngFor="let data of detalle">Departamento {{data.ID_DEPTO}}</h1>
<div mat-dialog-content class="mat-typography"  *ngFor="let data of detalle" >
    <div>
        <div class="row">
            <div class="col-md-3 fw-bold">
                <h3>Ubicación: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.UBICACION}}</h3>
            </div>
            <div class="col-md-3 fw-bold">
                <h3>Total Personas: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.TOTAL_PERSONAS}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fw-bold">
                <h3>Camas 1 plaza: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.CAMA_1PL}}</h3>
            </div>
            <div class="col-md-3 fw-bold" >
                <h3>Camas 2 plazas: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.CAMA_2PL}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fw-bold">
                <h3>Refrigerador: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.REFRIGERADOR}}</h3>
            </div>
            <div class="col-md-3 fw-bold">
                <h3>Cocina: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.COCINA}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fw-bold">
                <h3>Internet: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.INTERNET}}</h3>
            </div>
            <div class="col-md-3 fw-bold">
                <h3>Tv: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.CANT_TV_DEPTO}}</h3>
            </div>
            
        </div>
        <div class="row">
            
            <div class="col-md-3 fw-bold">
                <h3>Tv cable: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.TV_CABLE}}</h3>
            </div>
            <div class="col-md-3 fw-bold">
                <h3>Comentarios: </h3>
            </div>
            <div class="col-md-3">
                <h3>{{data.COMENTARIOS}}</h3>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button color="accent" >Modificar</button>
    <button mat-button color="accent" >Eliminar</button>
    <button mat-button  mat-dialog-close>Cerrar</button>
</div>