<h1 mat-dialog-title style="font-weight:bold" *ngFor="let data of detalle">Modificar Departamento</h1>
<div mat-dialog-content class="mat-typography"  *ngFor="let data of detalle" >
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td style="padding-right: 8px;">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>ID Depto</mat-label>
                        <input matInput disabled value="{{data.ID_DEPTO}}">
                    </mat-form-field>
                </td>
                <td style="padding-right: 8px;">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput value="{{data.NOMBRE}}">
                    </mat-form-field>
                </td>     
            </tr>
        </table>
    
        <mat-form-field style="padding-right: 8px; width: 100%;" class="example-full-width" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput value="{{data.DESCRIPCION}}"></textarea>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td style="padding-right: 8px;">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ubicación</mat-label>
                <input matInput disabled value="{{data.UBICACION}}">
              </mat-form-field>
            </td>
            <td style="padding-right: 8px;">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Valor por día</mat-label>
                <input matInput value="{{data.VALOR_DIA}}">
              </mat-form-field>
            </td>
            <td style="padding-right: 8px;">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Total personas</mat-label>
                  <input matInput value="{{data.TOTAL_PERSONAS}}">
                </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>
              <td style="padding-right: 8px;">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>¿Estacionamiento?</mat-label>
                  <input matInput value="{{data.ESTACIONAMIENTO}}">
                </mat-form-field>
              </td>
              <td style="padding-right: 8px;">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>¿Mascotas?</mat-label>
                  <input matInput value="{{data.MASCOTAS}}">
                </mat-form-field>
              </td>
              <td style="padding-right: 8px;">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>ID Inventario</mat-label>
                    <input matInput disabled value="{{data.DEPARTAMENTO_ID_DEPTO}}">
                  </mat-form-field>
              </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>
              <td style="padding-right: 8px;">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sucursal ID</mat-label>
                  <input matInput disabled value="{{data.SUCURSAL_ID_SUC}}">
                </mat-form-field>
              </td>
              <td style="padding-right: 8px;">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Estado departamento</mat-label>
                  <input matInput value="{{data.ESTADO_DEPTO}}">
                </mat-form-field>
              </td>
            </tr>
        </table>    
    </form> 
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button color="primary" mat-dialog-close>Modificar</button>
    <button mat-button color="warn" mat-dialog-close>Cerrar</button>
</div>
