<br>
<div class="mb-3">
  <button mat-fab class="bg-primary" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for=""> &nbsp; Atrás</label>
</div>

<body>
  <!-- Titulo con espacios  -->
  <br>
  <h2 class="welcome text-center">Fechas Disponibles de Agendamiento</h2>
  <br>
  <!-- Comienzo del div-->
  <div class="container w-75">
    <!-- Form -->
    <form class="mb-3 mt-md-4" [formGroup]="buscarDeptoForm">
      <div class="row">
        
        <div class="col-md-6 text-center">
          <mat-form-field appearance="fill" color="accent" >
            <mat-label>Número de Departamento</mat-label>
            <input matInput formControlName="ID_DEPTO" id="ID_DEPTO" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <button mat-raised-button color="accent" (click)="getLastDate()">Buscar Departamento</button>
        </div>
      </div>

      <section>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="ultima_reserva != null">
              <mat-form-field class="example-full-width" appearance="fill" color="accent">
                <mat-label>Presione para ver fechas disponibles</mat-label>
                <input matInput [matDatepicker]="picker" [min]="ultima_reserva">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      
    </form>
  </div>
    
</body>

