
@import '@angular/material/theming';
// Be sure that you only ever include this mixin once!
@include mat-core();
$candy-app-primary: mat-palette($mat-blue, 300);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

html, body{
    background-color: #1C1D31;
    .welcome{
      color: white;
      font-weight: bold;
    }
    font-family: 'Roboto', sans-serif;

   
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#primary{
  background-color: #67A4FF ;
  color: black;
}

#secundary{
  background-color: #6C6AEA;
  color: white;
}

#accent{
  background-color: #FF5474;
  color: white;
}

#warning{
  background-color: #FFA134;
  color: black;
}

.card{
  height: 200px;
  border-radius: 50px;
  .card-body{
   display: grid;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   .card-title{
     font-weight: bold;
   }
  }
  
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb{
  background: #6C6AEA;
  border-radius: 5px;
}
