body{
  background-color: #1C1D31;
  font-family: 'Roboto', sans-serif;

  .modules{
    padding-top: 10%;
    .card{
     height: 330px;
     border-radius: 50px;
     .card-body{
      display: grid;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 70px;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px;
      .card-title{
        font-weight: bold;
      }
     }
     
    }
  }
  

}



h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .card-title{
    text-align: center;
  }
  
  .card:hover{
    transform: scale(1.01); 
    transition: transform .5s; 
  }

.functions{
  padding-top: 20px;
}

.breadcrumb{
  padding-left: 10px;
}
