body{
  background-color: #26252A;
  .welcome{
    color: white;
    font-weight: bold;
  }
  font-family: 'Roboto', sans-serif;

  .modules{
    .card{
     height: 200px;
     .card-body{
      display: grid;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      .card-title{
        font-weight: bold;
      }
     }
     
    }
  }
  

}



h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .card-title{
    text-align: center;
  }
  
  .card:hover{
    transform: scale(1.01); 
    transition: transform .5s; 
  }

.functions{
  padding-top: 20px;
}

.breadcrumb{
  padding-left: 10px;
}
