mat-form-field{
    width: 100%;
    input {
        color: white;
    }
}

.img {
    background-image: url(../arriendos-vigentes/img2/travel.jpg);
}


.welcome{
    h4 {
      text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .atras{
      text-align: left;
        font-weight: lighter;
        letter-spacing: 1px;
        color: white;
    }
    p{
      color: white;
      font-weight: lighter;
    }
  
  }

  ::ng-deep {
    .ngx-pagination{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .ngx-pagination li {
      width: 35px;
      height: 35px;
      border-radius: 50% !important;
      background: rgb(255, 255, 255);
      display: flex !important;
      justify-content: center;
      align-items: center;
      position: relative;

      &.small-screen{
        display: none !important;
      }

      &.pagination-previus,
      &.pagination-next{
        a,span{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          color:rgb(255, 255, 255);
        } 
      }

    }
  }
 