mat-form-field{
    width: 100%;
    input {
        color: white;
    }
}

.img {
    background-image: url(../arriendos-vigentes/img2/travel.jpg);
}


.welcome{
    h4 {
      text-align: left;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    .atras{
      text-align: left;
        font-weight: lighter;
        letter-spacing: 1px;
        color: white;
    }
    p{
      color: white;
      font-weight: lighter;
    }
  
  }