<br>
<div class="p-3">
  <button mat-fab id="secundary" aria-label="" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <label for="" style="color:white ;"> &nbsp; Atrás</label>
</div>

<body>
  <!-- Titulo con espacios -->
  <br>
  <h2 class="welcome text-center">Ver Departamentos Disponibles</h2>
  <br>

  <!--Filtros-->
  <div class="container w-75">
    <mat-form-field color="accent">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="filtrar($event)">
    </mat-form-field>
  </div>
  

  <div class="container" >
    <div class="row g-3">
      <div class="col-4" *ngFor="let data of deptos_detalle">
        <mat-card class="example-card" >
          <mat-card-header>
            <mat-card-title>Departamento {{data.ID_DEPTO}}, ({{data.TOTAL_PERSONAS}} personas)</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="travel.jpg" alt="Depto foto">
          <mat-card-content>
            <p>
              Ubicación: {{data.UBICACION}}
            </p>
            <p>{{data.DESCRIPCION}}</p>
            <h5>Valor por día: {{data.VALOR_DIA | currency:'CLP':'$':'4.0'}}</h5>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button id="secundary" (click)="reservarDepto(data.ID_DEPTO)" cdkFocusInitial >Reservar</button>



            <button mat-button (click)="openDialog(data.ID_DEPTO)">Ver detalle</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  

</body>

